* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--color-secondary-dark);
    box-shadow: 0px 0px 1px 0px #000;
    width: 100%;
    position: fixed;
}

main {
    padding-top: 50px;
}

p {
    line-height: 20px;
}

:root {
    --color-primary: #9792E4;
    --color-secondary: #B5DDFF;
    --color-secondary-dark: #0184FD;
    --color-tertiary: #333333;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-tertiary {
    background-color: var(--color-tertiary);
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 1rem;
    /*DEBUG*/
    border: 1px dashed rgb(133, 66, 66);
}

.padding-large {
    padding-left: 7rem;
    padding-right: 7rem;
}

.padding-medium {
    padding-left: 3rem;
    padding-right: 3rem;
}

.padding-small {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.padding-bottom-plus {
    padding-bottom: 2rem;
}

.card-2 {
    /*DEBUG*/
    background-color: tomato;
    min-height: 100px;
    border-radius: 20px;
}

.btn {
    border: none;
    border-radius: 20px;
    padding: .5rem 2rem;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 2px;
    vertical-align: middle;
    margin-top: 20px;
}

.card {
    border: 1px dashed black;
    min-height: 100px;
    border-radius: 20px;
    padding: 1.5rem 1.3rem;
    overflow: hidden;
}
/* ROOT ELEMENTS */

/* NAVBAR */
.nav-row {
    justify-content: space-between;
    align-items: center;
}

.nav-col img {
    height: 30px;
    vertical-align: middle;
}

.menu a {
    font-size: .8rem;
    display: inline-block;
    padding: .8rem;
    text-decoration: none;
    color: white;
}

.nav-col button {
    border: none;
    border-radius: 20px;
    padding: .5rem .8rem;
    font-size: .8rem;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu svg {
    fill: white;
    height: 20px;
}
/* NAVBAR END */

/* MAIN */
.section {
    padding: 2rem 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.justify-center {
    justify-content: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc((100% / 3) - 20px);
}

.col-2 {
    flex-basis: calc((100% / 3 * 2) - 10px);
}

.col-3 {
    flex-basis: 100%;
}
/* SECTION I */
.blue {
    background-color: var(--color-secondary);
    font-size: .75rem;
    height: 250px;
    color: #5a6e7f;
}

.centered-text {
    text-align: center;
}

.card .summary {
    font-size: 60px;
    color: var(--color-secondary-dark);
    padding-bottom: 1.2rem;
}

.card h3 {
    font-size: 1rem;
    padding-bottom: 1.2rem;
}

.blue-title {
    color: var(--color-secondary-dark);
}

.dark-blue {
    background-color: var(--color-secondary-dark);
}

.fa-brands.fa-apple {
    font-size: 15px;
    color: white;
    padding-right: 5px;
}

.iphone {
    width: 180px;margin-top: 26px;
    margin-left: 50px;
}
/* END SECTION I */

/* SECTION II */
.planning-woman-image {
    width: 300px;
    padding-bottom: 100px;
}

.planning-man-image {
    width: 200px;
    padding-bottom: 20px;
}

.gap-reset {
    gap: 0px;
}

.flex-end {
    align-items: flex-end;
}

.grow-plus {
    flex-grow: 1.2;
}

.strategic-planning {
    color: white;
    font-size: .7rem;
}

.strategic-title {
    font-size: 1.4rem;
    padding-bottom: 2.5rem;
}

.strategic-text {
    font-size: .8rem;
    padding-bottom: 25px;
}

.white {
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: white;
}

.circle-btn {
    background-color: var(--color-primary);
    border-radius: 100%;
    border: none;
    padding: 0.7rem 0.95rem;
}

.circle-btn i {
    color: black;
    font-size: .8rem;
    text-align: center;
}
/* END SECTION II */

/* SECTION III */
.testimonial-header {
    text-align: center;
}

.testimonial-header h5 {
    font-weight: 100;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.testimonial-header h1 {
    color: var(--color-primary);
    padding-bottom: 25px;
}

.testimonial-header .subtitle {
    font-size: .9rem;
    padding-bottom: 30px;
}

.violet {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.img-wrap {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.img-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.text-wrap {
    padding: 1rem 3rem;
}

.quote {
    font-size: .9rem;
    padding-bottom: 25px;
    line-height: 25px;
}

.text-wrap h5 {
    letter-spacing: 1px;
    font-size: .9rem;
}

.fa-solid.fa-quote-left, .fa-solid.fa-quote-right {
    font-size: 1.2rem;
}
/* END SECTION III */

/* query large screen */
@media screen and (max-width: 992px) {
    .container {
        width: 748px;
    }

    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        float: right;
    }
}

/* query medium screen */
@media screen and (max-width: 768px) {
    .container {
        width: 534px;
    }

    .col-md-full {
        flex-basis: 100%;
    }

    .col-md-half {
        flex-basis: calc(50% - 10px);
    }

    .padding-md-default {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* query small screen */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    
    .col-sm-full {
        flex-basis: 100%;
    }
}