* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--color-secondary-dark);
    box-shadow: 0px 0px 1px 0px #000;
    width: 100%;
    position: fixed;
}

main {
    padding-top: 50px;
}

:root {
    --color-primary: #9792E4;
    --color-secondary: #B5DDFF;
    --color-secondary-dark: #0184FD;
    --color-tertiary: #333333;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-tertiary {
    background-color: var(--color-tertiary);
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 1rem;
    /*DEBUG*/
    border: 1px dashed rgb(133, 66, 66);
}

.padding-large {
    padding-left: 6rem;
    padding-right: 6rem;
}

.padding-medium {
    padding-left: 3rem;
    padding-right: 3rem;
}

.padding-small {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
/* ROOT ELEMENTS */

/* NAVBAR */
.nav-row {
    justify-content: space-between;
    align-items: center;
}

.nav-col img {
    height: 30px;
    vertical-align: middle;
}

.menu a {
    font-size: .8rem;
    display: inline-block;
    padding: .8rem;
    text-decoration: none;
    color: white;
}

.nav-col button {
    border: none;
    border-radius: 20px;
    padding: .5rem .8rem;
    font-size: .8rem;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu svg {
    fill: white;
    height: 20px;
}
/* NAVBAR END */

/* MAIN */
.section {
    padding: 2rem 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.justify-center {
    justify-content: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc((100% / 3) - 10px);
}

.col-2 {
    flex-basis: calc((100% / 3 ) * 2);
}

.col-3 {
    flex-basis: 100%;
}

.card {
    background-color: teal;
    min-height: 100px;
    border-radius: 20px;
}

.card-2 {
    /*DEBUG*/
    background-color: tomato;
    min-height: 100px;
    border-radius: 20px;
}

/* query large screen */
@media screen and (max-width: 992px) {
    .container {
        width: 748px;
    }

    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        float: right;
    }
}

/* query medium screen */
@media screen and (max-width: 768px) {
    .container {
        width: 534px;
    }

    .col-md-full {
        flex-basis: 100%;
    }

    .col-md-half {
        flex-basis: calc(50% - 10px);
    }

    .padding-md-default {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* query small screen */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    
    .col-sm-full {
        flex-basis: 100%;
    }
}