* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: var(--color-secondary-dark);
    box-shadow: 0px 0px 1px 0px #000;
    width: 100%;
    position: fixed;
    z-index: 1;
}

main {
    padding-top: 50px;
}

p {
    line-height: 25px;
}

:root {
    --color-primary: #9792E4;
    --color-secondary: #B5DDFF;
    --color-secondary-dark: #0184FD;
    --color-tertiary: #333333;
}

.bg-primary {
    background-color: var(--color-primary);
    padding: .5rem;
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-tertiary {
    background-color: var(--color-tertiary);
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.section {
    padding: 2rem 0;
}

.padding-large {
    padding-left: 7rem;
    padding-right: 7rem;
}

.padding-medium {
    padding-left: 3rem;
    padding-right: 3rem;
}

.padding-small {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.padding-bottom-plus {
    padding-bottom: 2rem;
}

.padding-bottom-even-more {
    padding-bottom: 2.5rem;
}

.padding-bottom-jumbo {
    padding-bottom: 4rem;
}

.btn {
    border: none;
    border-radius: 20px;
    padding: .5rem 2.2rem;
    color: white;
    font-size: .7rem;
    font-weight: bold;
    letter-spacing: 2px;
    vertical-align: middle;
    margin-top: 20px;
}

.card {
    border-radius: 20px;
    padding: 1.5rem 1.3rem;
    overflow: hidden;
    position: relative;
}
/* ROOT ELEMENTS */

/* NAVBAR */
.nav-row {
    justify-content: space-between;
    align-items: center;
}

.nav-col img {
    height: 30px;
    vertical-align: middle;
}

.menu a {
    font-size: .8rem;
    display: inline-block;
    padding: .8rem;
    text-decoration: none;
    color: white;
}

.nav-col button {
    border: none;
    border-radius: 20px;
    padding: .35rem .8rem;
    font-size: .8rem;
    font-family: 'PT Sans', sans-serif;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu svg {
    fill: white;
    height: 20px;
}
/* NAVBAR END */

/* MAIN */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    row-gap: 15px;
}

.justify-center {
    justify-content: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc((100% / 3) - 10px);
}

.col-2 {
    flex-basis: calc((100% / 3 * 2) - 5px);
}

.col-3 {
    flex-basis: 100%;
}

.half-col {
    flex-basis: calc(50% - 10px);
}
/* SECTION I */
.blue {
    background-color: var(--color-secondary);
    font-size: .85rem;
    color: #5a6e7f;
    min-height: 100%;
}

.card-padding {
    padding: 2rem;
}

.centered-text {
    text-align: center;
}

.card .summary {
    font-size: 60px;
    color: var(--color-secondary-dark);
    padding-bottom: 1.2rem;
}

.text-wrapper {
    width: 50%;
}

.blue-title {
    color: var(--color-secondary-dark);
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
}

.btn.dark-blue-btn {
    background-color: var(--color-secondary-dark);
}

.fa-brands.fa-apple {
    font-size: 15px;
    color: white;
    padding-right: 5px;
}

.iphone {
    max-height: 200px;
    position: absolute;
    bottom: 0;
    right: 40px;
}
/* END SECTION I */

/* SECTION II */
.planning-woman-image {
    width: 100%;
    padding-bottom: 100px;
    padding-top: 20px;
}

.planning-man-image {
    width: 80%;
    padding-bottom: 10px;
}

.gap-reset {
    gap: 0px;
}

.flex-end {
    align-items: flex-end;
}

.grow-plus {
    flex-grow: 1.2;
}

.strategic-planning {
    color: white;
    font-size: .7rem;
    padding-bottom: 0;
}

.strategic-title {
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
}

.strategic-text-left {
    padding-right: 2rem;
    line-height: 20px;
    font-size: .75rem;
}

.strategic-right-title {
    padding-bottom: .8rem;
}

.strategic-text-right {
    font-size: .85rem;
    padding-bottom: 25px;
}

.strategic-card {
    text-align: center;
    padding: 1.5rem;
}

.white {
    background-color: white;
}

.more-radius {
    border-radius: 40px;
}

.circle-btn {
    background-color: var(--color-primary);
    border-radius: 100%;
    border: none;
    padding: 0.7rem 0.95rem;
}

.circle-btn i {
    color: black;
    font-size: .8rem;
    text-align: center;
}
/* END SECTION II */

/* SECTION III */
.more-gap {
    gap: 20px
}

.testimonial-header {
    text-align: center;
}

.testimonial-header h5 {
    font-weight: 100;
    font-size: .85rem;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.testimonial-header h2 {
    color: var(--color-primary);
    font-size: 2.2rem;
    padding-bottom: 25px;
}

.testimonial-header .subtitle {
    font-size: .95rem;
    padding-bottom: 30px;
}

.violet {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.img-wrap {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.img-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.text-wrap {
    padding: 1rem 3rem;
}

.quote {
    font-size: .9rem;
    padding-bottom: 25px;
    line-height: 25px;
}

.text-wrap h5 {
    letter-spacing: 1.5px;
    font-size: .9rem;
}

.fa-solid.fa-quote-left, .fa-solid.fa-quote-right {
    font-size: 1.2rem;
}
/* END SECTION III */

/* SECTION IV*/
.benefits {
    flex-basis: calc((100% / 3) - 15px);
}

.benefits-title {
    color: white;
    text-align: center;
    padding-bottom: 40px;
    font-size: 2.3rem;
}

.violet-jumbo {
    color: var(--color-primary);
    font-size: 3.5rem;
    padding-bottom: 5px;
}

.number-subtitle {
    color: var(--color-primary);
    padding-bottom: 20px;
    font-size: 1.1rem;
}

.benefits-text {
    font-size: .75rem;
    line-height: 20px;
    color: gray;
    padding-right: 1.5rem;
}

.violet-btn {
    background-color: var(--color-primary);
}
/* END SECTION IV */

/* SECTION V */
.less-padding {
    padding-right: .5rem;
}

.about-us-text {
    padding-top: 20px;
    font-size: .9rem;
    line-height: 30px;
}

.img-wrapper {
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 0 auto;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.quote-icon .fa-solid.fa-quote-left {
    color: var(--color-primary);
    font-size: 4rem;
    position: absolute;
    top: 20px;
    right: 30px;
}

.text-wrapper-about-us {
    padding: 1.5rem;
}

.about-us-subtitile {
    font-size: 1.3rem;
    color: var(--color-primary);
    padding-bottom: 20px;
}

.linkedin {
    background-color: var(--color-primary);
    color: white;
    font-size: .7rem;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: .4rem .8rem;
}

.linkedin i {
    margin-right: 5px;
}
/* END SECTION V */

/* VI SECTION */
.get-started-wrap {
    text-align: center;
    color: white;
}

.get-started-wrap h5 {
    font-weight: 100;
    letter-spacing: 1px;
    color: lightgrey;
    padding-bottom: 10px;
}

.get-started-h1 {
    font-size: 2.3rem;
    padding-bottom: 20px;
}

.jumbo-title {
    color: #fdc15f;
    font-size: 4.5rem;
    padding-bottom: 20px;
}

.get-started-text {
    color: white;
    font-size: .8rem;
    line-height: 20px;
    padding-bottom: 20px;
}

.get-started-btn {
    font-family: 'PT Sans', sans-serif;
    font-size: .9rem;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: var(--color-primary);
    padding: 1.3rem 3.8rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.copyright {
    padding-top: 20px;
    font-size: .7rem;
    color: white;
    line-height: 15px;
    text-align: center;
}

.link-white {
    color: white;
    line-height: 15px;
}
/* END VI SECTION */

/* FOOTER */
.footer-col {
    flex-basis: calc(100% / 3);
}

.no-padding {
    padding: 0;
}

.minor-padding {
    padding: 1rem;
}

.major-padding {
    padding-top: 3rem;
}

.link-violet {
    color: var(--color-primary);
}
/* END FOOTER */

/* query large screen */
@media screen and (max-width: 992px) {
    .container {
        width: 748px;
    }

    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        float: right;
    }
}

/* query medium screen */
@media screen and (max-width: 768px) {
    .container {
        width: 534px;
    }

    .col-md-full {
        flex-basis: 100%;
    }

    .col-md-half {
        flex-basis: calc(50% - 10px);
    }
    
    .card-padding, .card.blue {
        padding: 1rem;
    }

    .text-wrapper {
        width: 100%;
        padding-bottom: 1rem;
    }

    .iphone {
        position: relative;
        left: 20px;
        bottom: -20px;
    }

    .padding-md-default {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .card.strategic-planning {
        padding: 0 0 1.5rem 0;
    }

    .text-wrap {
        padding: 1rem 1rem;
    }

    .md-padding {
        padding: 0;
    }

    .md-padding-1 {
        padding: 0 4rem;
    }
}

/* query small screen */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    
    .col-sm-full {
        flex-basis: 100%;
    }
}